<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a routerLink="">Generated Front</a>
      </div>

      
      <!-- GENERATED CODE -->
      <app-entity-list></app-entity-list>


    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- page-content" -->
</div>