/* You can add global styles to this file, and also import other style files */
.darkbackground{
    background-color:#31353d98;
    top: 50px;
}

body{
    background-image: url("assets/img/background.png");
    background-size: 100%;
}
